.bar {
background-color: rgb(212, 34, 168);
}
html
{
    background-image: url("image/wall.jpeg");
}
.flex-container nav{
    background-color: rgb(240, 231, 241);
    color: rgb(219, 38, 38);: rgb(71, 238, 49);
}
h2{
    color: lawngreen;
    width: 300px;
    border: 15px solid rgb(57, 156, 140);
    padding: 50px;
    margin: 20px;
}
.images1 p {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
  .images2 p {
    width: 300px;
    border: 15px solid rgb(128, 115, 0);
    padding: 50px;
    margin: 20px;
  }
  .images3 p {
    width: 300px;
    border: 15px solid rgb(115, 52, 158);
    padding: 50px;
    margin: 20px;
  }
  .images4 p {
    width: 300px;
    border: 15px solid rgb(57, 156, 140);
    padding: 50px;
    margin: 20px;
  }
  .images5 p {
    width: 300px;
    border: 15px solid rgb(15, 196, 15);
    padding: 50px;
    margin: 20px;
  }
 
.text div {
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  .image2 div {
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
.text{
    margin-block-start: 25px;
}

html{
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-left: 60px;
}

#content {
    background-color: rgb(128, 128, 128);
}


nav{
    position: relative;
    left: -170px;
}

nav li{
    display: inline-block;
}

nav a{
    padding: 77.3px;
    color: #777777;
}

nav a:hover{
    color: #2e309e;
    border-bottom: 2px solid #2e309e;
}
    
ul li a:active{
    color: #2e309e;
}


  .main-header
  {
    text-align: center;
    color: green;
  }
  .image1 p{
      border-style: outset;
      color: rgb(61, 188, 219);
    }
    
  p {
    font-family: verdana;
    font-size: 20px;
    background-color: grey;
  }


 

  .flex-container{
    display: flex;
    justify-content: space-between;
    
}
 footer{
    background-color: #777777;
    padding: 25px;
}

footer ul li a{
    color: black;
}

footer ul{
    padding: 0;
}

footer > .flex-container{
    border-bottom: 1px solid;
}

footer h5, small{
    color: #2E309E;

}

small{
    margin-left: 450px;
}

.footer-info1 > p{
    max-width: 200px;
}

.footer-info3 > span{
    padding: 5px;
}

.footer-info2 h5, .footer-info3 h5{
    color: #CCCCD2;
}

 